.user-line {
    border-bottom: solid 1px #f6a704;
    width: 80%;
    min-width: 320px;
    margin: 1em auto;
    display: block;
    font-weight: bolder;
}

.table-responsive {
    overflow: auto;
    margin: 2em auto;
}

.table {
    background: #f1f1f1;
    margin: 1em auto auto;
    border-collapse: collapse;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    white-space: nowrap;
    font-size: 1em;
}

.table a {
    text-decoration: none;
}

.table thead th {
    background: #6b6b6b;
    color: white;
    text-align: center;
    padding: 8px
}

.table tbody td {
    border: solid 1px #cdcdcd;
    text-align: center;
    padding: 2px 5px;
}

.table tbody tr:nth-child(even) {
    background-color: #e2e2e2;
}

.table tbody tr:hover {
    background: rgba(84, 123, 188, 0.36);
    color: white;
}

.mainArea .message {
    width: 80%;
    min-width: 320px;
    margin: 1em auto;
}

.message .alert {
    text-align: center;
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 0.25rem;
    background-color: #f2dede;
    border: 1px solid #ebcccc;
    color: #a94442;
}

.questionForm {
    border: 1px solid rgba(35, 35, 77, 0.69);
    border-radius: 5px;
    padding: 8px 1em;
}

.submitBtn {
    float: right;
    clear: both;
    margin: 1em;
    padding: 5px;
    background: white;
    color: #F6A704;
    border: 1px solid #F6A704;
    font-size: 0.8em;
    font-weight: bold;
    border-radius: 4px;
}

.submitBtn:hover {
    background: #F6A704;
    color: white;
    border: 1px solid white;
}

@media screen and (max-width: 500px) {
    .questionForm {
        margin: auto;
        width: 80%;
    }
}
