.user-line {
    border-bottom: solid 1px #f6a704;
    width: 80%;
    min-width: 320px;
    margin: 1em auto;
    display: block;
    font-weight: bolder;
}

.table-responsive {
   margin: 2em auto;
}

.table {
    background: #f1f1f1;
    margin: 1em auto auto;
    border-collapse: collapse;
    border-radius: 6px;
    border: 1px solid #dcdcdc;
    white-space: nowrap;
    font-size: 1em;
}

.table a {
    text-decoration: none;
}

.table thead th {
    background: #6b6b6b;
    color: white;
    text-align: center;
    padding: 8px
}

.table tbody td {
    border: solid 1px #cdcdcd;
    text-align: center;
    padding: 2px 5px;
}

.table tbody tr:nth-child(even) {
    background-color: #e2e2e2;
}

.table tbody tr:hover {
    background: rgba(84, 123, 188, 0.36);
    color: white;
}


.mainArea .message{
    width: 80%;
    min-width: 320px;
    margin: 1em auto;
}

.message .alert {
    text-align: center;
    margin-bottom: 1rem;
    padding: 5px;
    border-radius: 0.25rem;
    background-color: #f2dede;
    border:1px solid #ebcccc;
    color: #a94442;
}